.about-us {
    width: 100vw;
    padding-bottom: 30px;
    background: $dark-blue;
}

.about-us p{
    text-align: center;
    font-size: 1em;
    font-family: $primary;
    color: $white;

    max-width: 800px;
    margin: 50px auto;
}

#values {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.value-card {
    width: 240px;
    height: 300px;
    background: $white;
    margin-top: -35px;

    text-align: center;
    font-family: $primary;
    padding: 12px;

    z-index: 2;
}

.value-card {
    .description {
        font-size: 1em;
        color: $dark-blue;
        padding: 20px;
    }
    .name {
        font-size: 1.5em;
        font-family: $secondary;
        color: $dark-blue;
        padding: 20px;
    }
}