.body-post {
    width: 100vw;
    padding-top: 100px;
}

.body-post {
    img {
        max-width: 300px;
        float: left;
    }
    p {
        margin-left: 100px;

        color: $black;
        font-family: $primary;
        font-size: 1.250em;
    }
    .post-date {
        color: $black;
        font-weight: bold;
        font-family: $primary;
        font-size: 1em;
    }
}