footer {
    width: 100vw;

    background: $black;
    font-family: $primary;
    font-size: 0.75em;
    color: $white;
}

.footer {
    position: sticky;
    bottom: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.footer {
    .map {
        max-width: 290px;
        padding: 10px;
    }
    .infos{
        height: 150px;
        padding: 10px 20px;
        margin-left: 100px;
    
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .development {
        margin-left: 20vw;
        width: 100px;
        margin-top: 150px;
    
        display: flex;
        flex-direction: column;
        align-content: center;
    }
}

.development .logo-in{
    background: url('./assets/img/logo-in.png');

    width: 85px;
    height: 50px;
    margin-top: 10px;
}

.copyrights {
    width: 100vw;

    background: $gray;

    color: $white;
    text-align: center;
}