.header-news {
    background: url('./assets/img/bg-noticias.jpg');
    background-size: cover;
    background-position: fixed;

    width: 100vw;
    height: 450px;
    position: relative;
}

.news-txt {
    position: absolute;
    bottom: 10px;

    color: $white;
    text-shadow: 3px 3px 2px $black;
}

.news-txt {
    h2 {
        font-family: $secondary;
        font-size: 3em;
    }
    p {
        font-family: $primary;
        font-size: 1.5em;
        padding-left: 10px;
    }
}
