.newsletter {
    width: 100vw;

    text-align: center;
    color: $black;
    font-family: $primary;
    font-size: 1em;
}

.posts {
    padding: 20px;

    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
}

.posts-item {
    width: 250px;
    height: 400px;
    overflow: hidden;

    border: 1px solid $dark-blue;
    border-radius: 20px;

    text-align: left;
}

.posts-item {
    a {
        text-decoration: none;
    }
    img {
        max-width: 250px;
        top: 0;
    }
    h4 {
        margin-top: -10px;
        color: $white;
        font-family: $secondary;
        font-size: 1.5em;
        text-shadow: 3px 3px 1px $black;
    }
    p {
        max-width: 240px;
        padding: 5px;

        text-align: inherit;
        color: $black;
        font-family: $primary;
        font-size: 1em;
    }
    .post-date {
        color: $black;
        font-size: .75em;
        font-weight: bold;
    }
}

.paginate {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.paginate a {
    text-decoration: none;
    padding: 10px;

    color: $black;
    font-family: $primary;
    font-size: 1em;
}